page-por-categorias {
  my-component {
  background: color($colors, twitter, base);
}
my-background {
background: color($colors, fondo2, base);
}
my-fixedLabel {
        min-width: 20% !important;
        max-width: 20% !important;
    }
my-background2 {
background: color($colors, fondo3, base);
}

}
